In [ ]:
import pandas as pd
import re
import os
import numpy as np

In [ ]:
from syn_elong import model as syn
exchanges = set(i.id for i in syn.exchanges)
genes = sorted([i.id for i in syn.genes])

Set parameter Username
Set parameter GURO_PAR_SPECIAL
Set parameter TokenServer to value "leghorn"

In [4]:
old_to_new = dict()
for i in syn.genes:
#     print(i.annotation['refseq_old_locus_tag'])
    if 'refseq_old_locus_tag' in i.annotation:
        old_to_new[i.annotation['refseq_old_locus_tag']] = i.id
    else:
        old_to_new[i.id] = i.id
        print(i.id)

Synpcc7942_2454
Synpcc7942_0034
Synpcc7942_0413
Synpcc7942_1971
Synpcc7942_2107
Synpcc7942_2010
Synpcc7942_1478
Synpcc7942_0491
Synpcc7942_0668

In [5]:
ge_data = pd.read_excel(
    'pnas.1613446113.sd03_GENE_ESSENTIALITY.xlsx',
    skiprows=11,
    sheet_name='Full essentiality list'
)

C:\Users\pino216\Miniconda3\envs\whole-cell-gemm\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [22]:
important_data = ge_data[['Gene ID', 'RB-TnSeq essentiality']].copy()
important_data['gene'] = important_data['Gene ID']
important_data['essential'] = important_data['RB-TnSeq essentiality']
del important_data['RB-TnSeq essentiality']
del important_data['Gene ID']
important_data.head()

              gene      essential
0  Synpcc7942_0001  non-essential
1  Synpcc7942_0003      ambiguous
2  Synpcc7942_0004      essential
3  Synpcc7942_0009      essential
4  Synpcc7942_0017     beneficial

In [7]:
important_data['gene'] = important_data['gene'].map(old_to_new)
important_data.dropna(subset=['gene'], inplace=True)

In [8]:
important_data.head()

                 gene      essential
0  SYNPCC7942_RS00005  non-essential
1  SYNPCC7942_RS00015      ambiguous
2  SYNPCC7942_RS00020      essential
3  SYNPCC7942_RS00045      essential
4  SYNPCC7942_RS00090     beneficial

In [9]:
data_genes = sorted(important_data['gene'].values)

In [10]:
data_genes[-5:]

['Synpcc7942_1478',
 'Synpcc7942_1971',
 'Synpcc7942_2010',
 'Synpcc7942_2107',
 'Synpcc7942_2454']

In [11]:
print(len(set(data_genes).intersection(genes)))
print(len(set(data_genes).difference(genes)))
print(len(set(genes).difference(data_genes)))

785
0
0

In [12]:
set(genes).difference(data_genes)

set()

In [20]:
important_data

                   gene essential
0    SYNPCC7942_RS00005     False
1    SYNPCC7942_RS00015     False
2    SYNPCC7942_RS00020      True
3    SYNPCC7942_RS00045      True
4    SYNPCC7942_RS00090     False
..                  ...       ...
780  SYNPCC7942_RS13310     False
781  SYNPCC7942_RS13425     False
782  SYNPCC7942_RS13430     False
783  SYNPCC7942_RS13375     False
784  SYNPCC7942_RS13380     False

[785 rows x 2 columns]

In [14]:
important_data.loc[~(important_data.essential == 'essential'), 'essential'] = False
important_data.loc[important_data.essential == 'essential', 'essential'] = True

In [15]:
important_data.head()

                 gene essential
0  SYNPCC7942_RS00005     False
1  SYNPCC7942_RS00015     False
2  SYNPCC7942_RS00020      True
3  SYNPCC7942_RS00045      True
4  SYNPCC7942_RS00090     False

In [16]:
important_data.to_csv('../syn_elo_knockdown.csv', index=False)

In [17]:
important_data.shape

(785, 2)

In [18]:
another = pd.read_excel('Table 2_GROWTH_RESULTS.XLSX')

In [19]:
another

                  ids  growth in silico  Unnamed: 2 growth in vivo
0     Synpcc7942_0001      0.000000e+00         NaN  non-essential
1     Synpcc7942_0003      8.052915e-13         NaN      ambiguous
2     Synpcc7942_0004      7.953535e-13         NaN      essential
3     Synpcc7942_0009      0.000000e+00         NaN      essential
4     Synpcc7942_0015      1.021737e-01         NaN  non-essential
..                ...               ...         ...            ...
832  Synpcc7942_B2623      1.021729e-01         NaN  non-essential
833  Synpcc7942_B2624      1.021737e-01         NaN  non-essential
834  Synpcc7942_B2633      1.021737e-01         NaN  non-essential
835  Synpcc7942_B2663      1.021737e-01         NaN  non-essential
836  Synpcc7942_B2664      1.021729e-01         NaN  non-essential

[837 rows x 4 columns]

In [23]:
important_data

                 gene      essential
0     Synpcc7942_0001  non-essential
1     Synpcc7942_0003      ambiguous
2     Synpcc7942_0004      essential
3     Synpcc7942_0009      essential
4     Synpcc7942_0017     beneficial
..                ...            ...
780   Synpcc7942_2613  non-essential
781  Synpcc7942_B2623  non-essential
782  Synpcc7942_B2624  non-essential
783  Synpcc7942_B2663  non-essential
784  Synpcc7942_B2664  non-essential

[785 rows x 2 columns]